:root{
    --header-color: #141414;
    --gol-color:#daa520;
    --silver-color-:#c0c0c0;
    --background-color:#e1e6d6;
    --black-color:#f1f5e7;
   }
  
  /* Header */
  .header-bar {
    background-color: var(--header-color);
    color: var(--silver-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Certifique-se de que o cabeçalho esteja acima de outros elementos */
  }
  
  .header-bar h1 {
    font-size: 24px;
    margin: 0;
    color: var(--silver-color-);
  }
  
  .header-bar nav {
    margin-right: 10px;
  }
  
  .header-bar nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    color: var(--silver-color-);
  }
  
  .header-bar nav li {
    margin-right: 20px;
  }
  
  .header-bar nav a {
    text-decoration: none;
    color: var(--silver-color);
    font-weight: bold;
  }
  
  /* Media Query para telas menores */
  @media (max-width: 768px) {
    .header-bar {
      flex-direction: column;
      text-align: center;
    }
  
    .header-bar h1 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .header-bar nav ul {
      flex-direction: column;
    }
  
    .header-bar nav li {
      margin: 5px 0;
    }
  }
  