:root{
    --header-color: #141414;
    --gol-color:#daa520;
    --silver-color-:#c0c0c0;
    --background-color:#e1e6d6;
    --black-color:#f1f5e7;
   }
  
   /* Logo */
   img {
    border-radius: 50%;
    width: 25%;

   }
  /* Header */ 
  .header-bar {
    background-color: var(--header-color);
    color: var(--silver-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  }
  
  .header-bar h1 {
    font-size: 24px;
    margin: 0;
    color: var(--silver-color-);
  }
  
  .header-bar nav {
    margin-right: 10px;
  }
  
  .header-bar nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    color: var(--silver-color-);
  }
  
  .header-bar nav li {
    margin-right: 20px;
  }
  
  .header-bar nav a {
    text-decoration: none;
    color: var(--silver-color);
    font-weight: bold;
  }
  
  /* Media Query para telas menores */
  @media (max-width: 768px) {
    .header-bar {
      flex-direction: column;
      text-align: center;
    }
  
    .header-bar h1 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .header-bar nav ul {
      flex-direction: column;
    }
  
    .header-bar nav li {
      margin: 5px 0;
    }
  }
  /* body */
body {
  background-color: var(--background-color);

}


/* contatos */
.card {
  display: flex;
  height: 70px;
  width: 270px;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #12a50b;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
  